{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

    <div class="container page" id="web-productos">
      <h1 class="section-title">¿Quiénes Somos?</h1>
      <hr/>
      <div class="row">
  
          <div class="col-md-4">
              <img src="../static/images/maryal_acercade.png">
          </div>
  
        <div class="col-md-8">
          <p class="text-justify">
              <span class="highlight4">Maryal Foods</span> nace de una idea familiar que se consume desde la época de los años 60. Tradición que se están 
            perdiendo con las nuevas golosinas que ofrecen en el mercado y que afectan la salud, especialmente de nuestros <a class="hint--info hint--top hint--medium hint--rounded hint--no-shadow" aria-label="No son tolerantes a la láctosa, y mucha ázucar produce diabetes.">niños.</a>
          </p>
         <p class="text-justify">
           Con nuestra línea de <a class="hint--info hint--top hint--medium hint--rounded hint--no-shadow"  data-hint="También llamados congelados, helado en bolsita, bolillo bolo, flash, hielito, cubo, chupichupi; entre otros">bolis</a> artesanal y nuestro yogur artesanal con <a class="hint--info hint--top hint--medium hint--rounded hint--no-shadow" aria-label="Sin conservantes ni aditivos. Consume regularmente frutas y verduras.">frutas</a>, queremos llegar al <a class="hint--info hint--top-right hint--medium hint--rounded hint--no-shadow" aria-label="Por eso, nuestro logo tiene un corazón representando la letra M.">corazón</a> de sus hogares, para <a class="hint--info hint--top hint--medium hint--rounded hint--no-shadow" aria-label="Desde nuestros niños, hasta nuestros adultos...">todos</a> ustedes.  
         </p>
         <p class="text-justify">
          Este paso lo hacemos gracias a Dios, ya que sin Él, <span class="highlight4">Maryal Foods</span> no sería una realidad.   
         </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

