{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

  <div class="container page" id="web-bolis">
    <h1 class="section-title">Bolis artesanal</h1>
    <hr />
   
        <div class="row"> 

      <div class="col-md-4">
        <img src="../static/images/btn_bolis.png">
      </div>

      <div class="col-md-8">

        <!-- <h2>Misión</h2> -->
        <p class="text-justify">Presentamos un producto muy tradicional de la costa colombiana, el <a
            class="hint--info hint--top hint--medium hint--rounded hint--no-shadow"
            data-hint="También llamados congelados, helado en bolsita, bolillo bolo, flash, hielito, cubo, chupichupi; entre otros">bolis</a>
          artesanal <span class="highlight4">Maryal
            Foods</span>, el cual vas a tener la experiencia de sabores apto para esos dias soleados que te provoca
          consumir algo frío y refrescante.
        </p>

        <p class="text-justify">Cada presentación tiene sabores de <a
            class="hint--info hint--top hint--medium hint--rounded hint--no-shadow"
            aria-label="Sin conservantes ni aditivos. Consume regularmente frutas y verduras.">frutas</a>:
        </p>

        <div class="col-md-4">
          <ul class="lista-sabores">
            <li><img src="../static/images/fruits/fresa.png" /> Fresa</li>
            <li><img src="../static/images/fruits/mango.png" /> Mango</li>
            <li><img src="../static/images/fruits/guayaba.png" /> Guayaba</li>
            <li><img src="../static/images/fruits/sandia.png" /> <a
                class="hint--info hint--top hint--medium hint--rounded hint--no-shadow"
                aria-label="También conocido como patilla.">Sandía</a></li>
            <li><img src="../static/images/fruits/pina.png" /> Piña</li>
            <li><img src="../static/images/fruits/coco.png" /> Coco</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="lista-sabores">
            <li><img src="../static/images/fruits/uva.png" /> Uva</li>
            <li><img src="../static/images/fruits/durazno.png" /> Durazno</li>
            <li><img src="../static/images/fruits/naranja.png" /> Naranja</li>
            <li><img src="../static/images/fruits/mora.png" /> Mora</li>
            <li><img src="../static/images/fruits/tamarindo.png" /> Tamarindo</li>
            <li><img src="../static/images/fruits/maracuya.png" /> Maracuyá</li>
          </ul>
        </div>

        <div class="col-md-4">
            <ul class="lista-sabores">
              <li><img src="../static/images/fruits/lulo.png" /> Lulo</li>
            </ul>
          </div>

        <div class="col-md-12">

          <p class="text-justify">Adicionalmente contamos con sabores especiales:
          </p>

          <div class="col-md-4">
            <ul class="lista-sabores">
              <li><img src="../static/images/fruits/kola.png" /> <a
                  class="hint--info hint--top hint--medium hint--rounded hint--no-shadow"
                  aria-label="Acompañañado de leche artesanal.">Kola</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <ul class="lista-sabores">
              <li><img src="../static/images/fruits/galleta.png" /> <a
                class="hint--info hint--top hint--medium hint--rounded hint--no-shadow"
                aria-label="Acompañañado de leche artesanal.">Galleta</a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}