<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="Shortcut Icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <title>Maryal Foods</title>
    
	  <!-- Bootstrap CSS file -->
		<link rel="stylesheet" href=  "{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
		<!-- Bootstrap Theme CSS file -->
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" type="text/css" />
		<!-- bxSlider CSS file -->
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/jquery.bxslider.css') }}"  type="text/css" />
		<link href="{{ url_for('static', filename='css/ekko-lightbox.min.css') }}"  rel="stylesheet" />
		<!-- Custom CSS file -->
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}" type="text/css" />
		
		  <!-- IcoFont CSS file -->
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/icofont.min.css') }}">
		<!-- Hints CSS file -->
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/hint.css') }}">

		<link rel="stylesheet" href= "{{ url_for('static', filename='css/bootstrap-select.css') }}">
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
		<!-- <link rel="stylesheet" href= "{{ url_for('static', filename='css/bootstrap-dropdown-filter.css') }}"> -->

		 <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>   -->
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
		 <script type=text/javascript src="{{url_for('static', filename='js/custom.js') }}"></script> 
		 <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script> 
		 <script type=text/javascript src="{{url_for('static', filename='js/pwdscript.js') }}"></script> 
		 <script type=text/javascript src="{{url_for('static', filename='js/bootstrap-show-password.min.js') }}"></script>

		 <script  type=text/javascript  src="{{url_for('static', filename='js/bootstrap-select.js') }}"></script>
		 <!-- <script  type=text/javascript  src="{{url_for('static', filename='js/bootstrap-dropdown-filter.js') }}"></script> -->

		 <script>document.getElementsByTagName("html")[0].className += " js";</script>
		 
	</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación móvil</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="logo" href="/"><img alt="Maryal Foods" src="{{ url_for('static', filename='images/logo_maryal_header.png') }}"/></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li id="index"><a href="/"><span class="glyphicon glyphicon-home"></span> Inicio <span class="sr-only">(activo)</span></a></li>
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger "></span> Nosotros<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="acercade">¿Quiénes somos?</a></li>
									<li><a href="objetivos">Nuestros objetivos</a></li>
								</ul>
							</li>
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> Productos<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="yogur_artesanal">Yogures artesanales</a></li>
									<li><a href="bolis_artesanal">Bolis artesanales</a></li>
									<!-- <li><a href="arroz_leche">Arroz con leche artesanal</a></li> -->
								</ul>
							</li>
														
							<li id="pedidos"><a href="pedidos"><span class="glyphicon glyphicon-shopping-cart"></span> Pedidos</a></li>
						</ul>
					</div><!--/.nav-collapse -->
					<div class="clearfix"></div>
				</div><!--/.container-fluid -->
			</nav> 

    <!-- Contenido central -->  
    <div class="container p-4">
        {% block content %}
        {% endblock %}
    </div>
   <!-- Contenido central -->   
   
	<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<ul class="sitemap">
						<div class="logo-footer"><img src="{{ url_for('static', filename='images/logo_maryal_footer.png') }}"></div>
						<h4><b>Mapa del sitio</b></h4>
						<!-- <ul class="sitemap"> -->
							<li><a href="/">Inicio</a></li>
							<li><a href="acercade">Quienes somos</a></li>
							<li><a href="productos">Productos</a></li>
						<!-- 	<li><a href="/contactenos.php">Pedidos</a></li> -->
						</ul>
					</div>
					
		<!-- 		 	<div class="col-md-3 productos-footer">
						
						<h4 id="yogur-footer"><img src="../static/images/fruits/yogur.png"/> Yogur artesanal con toppins de...</h4>
						<div class="row">
							<div class="col-md-6">
								<ul class="lista-sabores">
									<li><img src="../static/images/fruits/fresa.png"/> Fresa</li>
									<li><img src="../static/images/fruits/mango.png"/> Mango</li>
									<li><img src="../static/images/fruits/uvapasa.png"/> Uvas Pasas</li>
									<li><img src="../static/images/fruits/banano.png"/> Banano</li>
									<li><img src="../static/images/fruits/kiwi.png"/> Kiwi</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="lista-sabores">
									<li><img src="../static/images/fruits/durazno.png"/> Durazno</li>
									<li><img src="../static/images/fruits/durazno.png"/> Melocotón</li>
									<li><img src="../static/images/fruits/guayaba.png"/> Guayaba</li>
									<li><img src="../static/images/fruits/pina.png"/> Piña</li>
									<li><img src="../static/images/fruits/cereza.png"/> Cereza</li>
								</ul>
							</div>
						</div>
					</div>  -->
				
		<!-- 			<div class="col-md-3 productos-footer">
						
							<h4 id="yogur-footer"><img src="../static/images/fruits/bolis.png"/> Bolis artesanales con sabores de...</h4>
							<div class="row">
								<div class="col-md-6">
									<ul class="lista-sabores">
										<li><img src="../static/images/fruits/fresa.png"/> Fresa</li>
										<li><img src="../static/images/fruits/mango.png"/> Mango</li>
										<li><img src="../static/images/fruits/uvapasa.png"/> Uvas Pasas</li>
										<li><img src="../static/images/fruits/banano.png"/> Banano</li>
										<li><img src="../static/images/fruits/kiwi.png"/> Kiwi</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="lista-sabores">
										<li><img src="../static/images/fruits/durazno.png"/> Durazno</li>
										<li><img src="../static/images/fruits/durazno.png"/> Melocotón</li>
										<li><img src="../static/images/fruits/guayaba.png"/> Guayaba</li>
										<li><img src="../static/images/fruits/pina.png"/> Piña</li>
										<li><img src="../static/images/fruits/cereza.png"/> Cereza</li>
									</ul>
								</div>
							</div>
						</div>  -->

					<div class="col-md-3 productos-footer">
						<!-- 	<h4 id="yogur-footer"><img src="../static/images/fruits/yogur.png"/> Yogur artesanal</h4> -->
						<!-- 	<h4 id="arroz-footer"><img src="../static/images/fruits/yogur.png"/> Arroz con leche artesanal</h4> -->
						 <!--    <h4 id="maracuya-footer"><img src="../static/images/fruits/bolis.png"/> Bolis artesanales</h4>  -->
						 <ul class="sitemap">
						<p class="big">¿Está interesado en nuestros productos?</p>
						<a class="btn btn-primary btn-lg" href="pedidos" role="button">Pedidos</a>
						</ul>
					</div>

					<div class="col-md-3 productos-footer">
						 <ul class="sitemap">
							<p class="big">Síguenos en nuestras redes sociales:</p>
							<div class="social">
							  <a class="icofont-facebook" id="facebook_icon" target=_blank href="https://www.facebook.com/maryal.foods/"></a>
							  <a class="icofont-instagram" target=_blank href="https://www.instagram.com/maryal.foods/"></a>
							</div>
							</ul>
						</div>

				</div>
			</div>
			<div class="footer-text">
				<div class="container">
					<div class="row">
						<div class="col-md-9 copyright">
							Maryal Foods © 2019. Todos los derechos reservados.    
						</div>
						<div class="col-md-3 text-right social">
							<a href="#" class="cd-top text--replace js-cd-top"><span class="glyphicon glyphicon-triangle-top"></span> Ir arriba</a>
							<script src="../static/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
						  <script src="../static/js/main.js"></script>
						</div>
					</div>
				</div>
			</div>
		</footer>
	
</body>


 
	 <!--   <script src="{{ url_for('static', filename='js/custom.js') }}"> </script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script> -->

</html>