{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

    <div class="container page" id="web-objectivos">
      <h1 class="section-title">Nuestros objetivos</h1>
      <hr/>
      <div class="row">
  
          <div class="col-md-4">
              <img src="../static/images/objetivos.png">
          </div>
  
        <div class="col-md-8">

          <h2>Misión</h2>
          <p class="text-justify">Promocionar nuestros productos en ferias y eventos sociales, además de las publicaciones en
             nuestras redes sociales, así deleitar de cada uno de los sabores que ofrecemos. Una nueva experiencia en sabor y nutrición.
          </p>

            <h2>Visión</h2>
            <p class="text-justify">Para el año 2025 ser una empresa reconocida en <a class="hint--top hint--medium hint--rounded hint--no-shadow"  data-hint="Inicialmente estaremos brindando cobertura en Bogotá D.C.">Colombia,</a> con el fin de pueda llegar nuestros productos a través de los pedidos <a class="hint--top hint--medium hint--rounded hint--no-shadow"  data-hint="Tanto en nuestro portal Web en la sección Pedidos, con en una aplicación para móviles.">Online.</a>
              
             </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

