{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  
    <div class="container page" id="web-pedidos">
        <h1 class="section-title">Pedidos</h1>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/perfil.png">
            </div>

            <div class="col-md-4">
                   
                {% with messages = get_flashed_messages() %}  
                    {% if messages  %}
                      {% for message in messages %}
                      <div class="alert alert-success" role="alert">
                         <b>  {{ message }} </b>
                      </div>

                     <!--  <p style="background-color: brown; color: bisque;"> {{ message }} </p> -->
                      {% endfor %}
                    {% endif %}
                    {% endwith %}
                 
                    {% if error %}
                       <!--  <p class=error style="background-color: red; color: white;"><strong>Error:</strong> {{ error }} -->
                    
                            <div class="alert alert-danger" role="alert">
                                  <b>{{ error }}</b> 
                            </div>
                    
                     {% endif %}

                <form action="/login" method="POST" class="loginForm">
                    <h2>Iniciar sesión</h2>
                 

               <div class="form-group">
                        <label for="email">Usuario (Email):</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingrese email" name="email" pattern="[^ @]+@[^ @]+.[a-z]+" required>
                    </div> 

                <!--  <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Ingrese contraseña (password)"
                            name="pwd" pattern="{8,60}">
                     <input type="checkbox" onclick="viewPwd()"> Mostrar contraseña
   
                    </div>  -->

                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Ingrese contraseña" data-toggle="password" pattern="{8,60}" 
                        >
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" name="remember"> Recuérdame</label>
                    </div>
                    <!--  <button type="submit" class="btn btn-default">Ingresar</button> -->
                    <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
                </form>

                <form action="nuevo_registro">

                    <div class="form-group">
                        <p></p>
                        <label>¿No estás registrado?</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Nuevo</button>

                </form>

            </div>

          </div>




    </div>


</div>
{% endblock %}