{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

  <div class="container page" id="web-yogur">
    <h1 class="section-title">Yogur artesanal</h1>
    <hr />
    <div class="row">

      <div class="col-md-4">
        <img src="../static/images/btn_yogur.png">
      </div>

      <div class="col-md-8">

        <!-- <h2>Misión</h2> -->
        <p class="text-justify">Presentamos nuestro producto estelar, el yogur artesanal <span class="highlight4">Maryal
            Foods</span>, el cual
          tiene un sabor irrepetible apto para <a class="hint--info hint--top hint--medium hint--rounded hint--no-shadow" aria-label="Desde nuestros niños, hasta nuestros adultos...">todas</a> las personas que consumen poca ázucar y que le producen
          <a class="hint--info hint--top hint--medium hint--rounded hint--no-shadow" aria-label="No son tolerantes a la láctosa, y mucha ázucar produce diabetes.">estreñimiento</a> para cualquier momento en tu día a día.
        </p>

        <p class="text-justify">Puedes tomar solo nuestro yogur artesanal, o también puedes acompañar de la variedad de <a class="hint--info hint--top hint--medium hint--rounded hint--no-shadow" aria-label="Sin conservantes ni aditivos. Consume regularmente frutas y verduras.">frutas</a> tales como:
        </p>

        <div class="col-md-4">
          <ul class="lista-sabores">
            <li><img src="../static/images/fruits/fresa.png" /> Fresa</li>
            <li><img src="../static/images/fruits/mango.png" /> Mango</li>
            <li><img src="../static/images/fruits/uvapasa.png" /> Uvas Pasas</li>
            <li><img src="../static/images/fruits/banano.png" /> Banano</li>
            <li><img src="../static/images/fruits/kiwi.png" /> Kiwi</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="lista-sabores">
            <li><img src="../static/images/fruits/durazno.png" /> Durazno</li>
            <li><img src="../static/images/fruits/durazno.png" /> Melocotón</li>
            <li><img src="../static/images/fruits/guayaba.png" /> Guayaba</li>
            <li><img src="../static/images/fruits/pina.png" /> Piña</li>
            <li><img src="../static/images/fruits/cereza.png" /> Cereza</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}